{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}  <!-- Load widget_tweaks -->

{% block content %}
<div class="container mt-5 auth-container animate__animated animate__fadeIn">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">
            <h2 class="auth-title">Counter Offer for {{ offer.sale.title }}</h2>
            <p class="auth-prompt">Original Offer: €{{ offer.amount }} by {{ offer.buyer.username }}</p>
            {% if form.errors %}
                <div class="alert alert-danger">
                    {% for field, errors in form.errors.items %}
                        {{ errors|join:", " }}
                    {% endfor %}
                </div>
            {% endif %}
            <form method="post" class="auth-form">
                {% csrf_token %}
                <div class="auth-field">
                    {{ form.counter_amount.label_tag }}
                    {{ form.counter_amount|add_class:"auth-field-input" }}  <!-- This works with widget_tweaks-->
                    <small class="form-text text-white">Your counter offer is in euros</small>
                </div>
                <button type="submit" class="btn-custom">Submit Counteroffer</button>
                <a href="{% url 'profile' %}" class="btn-custom cancel">Back</a>
            </form>
        </div>
    </div>
</div>
{% endblock content %}