:root {
  --main-bg-color: ##71c7f6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--main-bg-color);
}

.default-profile-picture,
.profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
